{% extends 'Admin/adminindex.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="243" border="1">
    <!--<tr>-->
      <!--<td width="233"><a href="approve_TC">Approve TC</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="approve_localOwner">Approve Local_Owners</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><p><a href="view_complaint_reply">View Complaints and view reply</a></p>-->
      <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="block_unblock_TC">Block / Unblock TC</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="block_unblock_loadOwner">Block / Unblock Local_Owners</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="view_rating">View Rating</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="/">Log Out</a></div></td>-->
    <!--</tr>-->
  </table>
</form>
</body>
{% endblock %}