{% extends 'Admin/adminindex.html'%}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-hover table-striped"">
    <tr>
      <td>NAME</td>
      <td>ADDRESS</td>
      <td>EMAIL</td>
      <td>PHONE</td>

      <td>PROOF</td>
      <td>&nbsp;</td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i['name']}}</td>
      <td>&nbsp;{{i['place']}}<br>{{i['post']}}<br>{{i['pin']}}</td>
      <td>&nbsp;{{i['email']}}</td>
      <td>;{{i['phone']}}</td>
        <td><a href="../static/photo/{{i['idproof']}}">{{i['idproof']}}</a></td>
      <td>{% if i['type']=='pending'%}<p><a href="acceptlocal_owners?id={{i['lid']}}" class="btn btn-success">ACCEPT</a></p>
      <p><a href="rejectlocal_owners?id={{i['lid']}}" class="btn btn-danger">REJECT</a></p>{% elif i['type']=='local_owners' %}Accepted{% else %} Rejected{% endif %}</td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
{% endblock %}
