{% extends 'Admin/adminindex.html'%}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="view_complaint_reply1#about">
  <table width="200" border="1" class="table"class="table table-hover table-striped">
   <tr>
      <td><select name="select">
        <option value="Trading_Company">Trading_Company</option>
        <option value="driver">driver</option>
        <option value="local_owners">local_owners</option>
      </select> </td>
<td>  <input type="submit" name="Submit" value="search" /></td>
    </tr>
    <tr>
      <td>USER NAME </td>
      <td>NAME</td>
      <td>COMPLAINT</td>
      <td>DATE</td>
      <td>REPLY</td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i['fname']}}{{i['lname']}}</td>
      <td>&nbsp;{{i['name']}}</td>
      <td>{{i['complaint']}}</td>
      <td>&nbsp;{{i['date']}}</td>
      <td>&nbsp;{{i['reply']}}</td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
{% endblock %}
