{% extends 'Trading_Company/tcindex.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-hover table-striped">
    <tr>
      <td>NAME</td>
      <td>ADDRESS</td>
      <td>PHONE</td>
      <td>EMAIL</td>
      <td>VEHICLE TYPE</td>
      <td>VEHICLE NUMBER</td>
         <td>LICENSE NUMBER</td>
      <td>&nbsp;</td>
    {% for i in val %}
    <tr>
      <td>{{i['fname']}}{{i['lname']}}</td>
      <td>&nbsp;{{i['place']}}{{i['post']}}{{i['pin']}}</td>
      <td>&nbsp;{{i['email']}}</td>
      <td>&nbsp;{{i['phone']}}</td>
      <td>{{i['vtype']}}</td>
      <td>{{i['vnumber']}}</td>
          <td>{{i['i number']}}</td>
      <td>{% if i['type']=='driver' %}<p><a href="blockdriver?id={{i['lid']}}" class="btn btn-danger">block</a></p>{% elif i['type']=='block'%}<p><a href="unblockdriver?id={{i['lid']}}" class="btn btn-success">unblock</a></p>{% else %}{% endif %}
      </td>
    </tr>
    {% endfor %}
    </tr>
  </table>
</form>
</body>
{% endblock %}
