{% extends 'Trading_Company/tcindex.html'%}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="sendreply1">
  <table width="256" border="1" class="table table-hover table-striped">
    <tr>
      <td width="246">REPLY 
        <label>
        <input type="text" name="textfield" required />
      </label></td>
    </tr>
    <tr>
      <td><label>
        <div align="center">
          <input type="submit" name="Submit" value="SEND"class="btn btn-success" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
