{% extends 'Trading_Company/tcindex.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <!--<tr>-->
      <!--<td><p><a href="Add_new">Add and Manage Driver / Vehicles</a></p></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><p><a href="view_request_assign_driver">View Request and Assign Driver</a></p>-->
      <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="request_for_trip">Request for Trip</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><p><a href="view_complaint_send_reply">View Complaint and Send Reply</a></p>-->
      <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="block_unblock_driver">Block and Unblock Driver</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="/">Log Out</a></div></td>-->
    <!--</tr>-->
  </table>
</form>
</body>
{% endblock %}
